h2{
    text-align: center;
    font-weight: 400;
    color: black;
}

.servicos{
    margin-top: 10%;
    height: 100%;
}

.box {
    font-family: NixieOne;
    position: relative;
    font-size: 250%;
    color: black;
    margin-left: 10%;
}

.box .titulo{
    text-align: left;
}

.box-2{
    display: flex;
}

.box-2 .text{
    font-size: 50%;
    flex-basis: 1;
}

.box-2 #code{
    flex-basis: 1;
}

#imagens{
    display: flex;
    flex-direction: column;
    flex-basis: 1;
}