.navbar {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  top: 0;
  height: 128px;
  z-index: 2;
}

/*POSIÇÃO DA LOGO EM MOBILE*/
.navbar_logo{
  top: 16px;
  left: 32px;
  cursor: pointer;
  position: absolute;
}

/*ESTILIZAÇÃO TOGGLE*/
.navbar_toggle {  
  position: absolute;
  top: 42px;
  right: 32px;
  cursor: pointer;
}

/*ESTILIZAÇÃO NAVBAR "NORMAL"*/
.navbar_items a {
  color: #cecece;
  text-decoration: none;
}

.navbar_items ul {
  list-style: none;
  display: none;
  margin-top: 64px;
  background: rgba(206, 206, 206, 0.7);
}

.navbar_items li {
  padding: 5px;
  margin: 15px auto;
  text-align: center;
  font-family: Impact;
  font-size: 125%;
}

.navbar_items a:hover,
.navbar_items a:active {
  color: #cecece;
}

/*ESTILIZAÇÃO NAVBAR RESPONSIVA*/

.navbar_items_responsive ul {
  margin: 0;
  width: 100%;
  background: white;
  height: 500px;
  position: fixed;
  overflow: auto;
  box-shadow: 5px 0 rgba(0, 0, 0, 0.5);
}

.navbar_items_responsive li {
  padding: 30px;
  text-align: center;
  font-family: Impact;
  font-size: 200%;
}

.navbar_items_responsive a {
  text-decoration: none;
  color:  #063255;
}

.navbar_items_responsive a:hover{
  color: #cecece;
}

.backdrop {
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
}

/*NAVBAR NA TELA > 1024px*/
@media screen and (min-width: 1024px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    height: 128px;
    align-items: center;
    padding: 0 1rem;
  }

  .navbar_items ul {
    display: flex;
    margin-right: 8rem;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
    background: rgba(143, 148, 155, 0);
  }

  .navbar_items a {
    margin-left: 60px;
  }

  .navbar_logo {
    margin-top: 0;
    margin-left: 12%;
    display: flex;
    flex-direction: flex-end;
    position: static;
  }

  /*REMOVE OS ITENS "RESPONSIVOS"*/
  .navbar_items_responsive ul {
    display: none;
  }

  /*RETIRA O BOTÃO TOGGLE*/
  .navbar_toggle {
    display: none;
  }

  .backdrop {
    display: none !important;
  }
}

/*NABVAR DEPOIS DO SCROLL*/

.navbar-scroll {
  background: rgba(206, 206, 206, 0.7);
}