.footer {
    width: 100%;
    bottom: 0;
    font-family: Inconsolata;
}

.main {
    display: flex;
    justify-content: space-around;
    background: #cecece;
    min-height: 256px;
    margin-top: 1%;
    flex-wrap: wrap;
}

.reserved {
    display: flex;
    justify-content: center;
    background: #b0b0b0;
    height: 36px;
    align-items: center;
}

.developed {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #063255;
    height: 48px;
    color: #cecece;
    align-items: center;
}

.heart {
    color: red;
}

.navigation {
    margin-top: 3%;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    margin-top: 3px;
    margin-bottom: 3px;
}

.navigation a {
    text-decoration: none;
    color: grey;
    font-size: 125%;
}

.navigation p {
    font-size: 150%;
    margin-bottom: 7px; 
}

.logo {
    width: 280.4px;
    height: 81px;
}

.social-media {
    display: flex;
    flex-direction: row;
}

.social-size {
    width: 32px;
    height: 32px;
    margin: 8px 8px 0 16px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    font-size: 125%;
}

.contact p {
    margin: 4px 0;
}

.newsletter {
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button, input[type=text]::placeholder {
    border: none;
    border-radius: 4px;
    background-color: #706f83;
    color: white;
    margin: 3px 0;
}

button {
    width: 50%;
}

.newsletter p {
    margin-bottom: 12px;
    font-family: NixieOne;
}
