.formulario{
    margin:  10px;
    width: 100%;
    bottom: 0px;
}
.fild1:nth-child(1) { width: 240px;}
.fild1:nth-child(2) { width: 240px;}
.fild2:nth-child(3) { height: 125px;}



.form{
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px;
}
fieldset{border: none;
width: 500px;}

input{
    
    height: 42px;
    width: 492px;
    padding: 10px; 
    margin-bottom: 15px;  
    border-radius: 5px; 
    font-family: Inconsolata; 
    font-size: 18px;   
    
}
.titulo1{	position: absolute;
    margin: 0px -20px;
    top: 20%;
    left: 40%;
    font-family: NixieOne;
    font-size: 35px;
    text-align: center;
    color: #686868;
}
.titulo2{	position: relative;
    margin: 10px 10px;
    top: -110px;

    font-family: NixieOne;
    font-size: 35px;
    text-align: center;
    color: #686868;
}

